# Week 2

## Pandas

In this exercise we will be working with the `pandas` library, an essential tool for data wrangling with Python.

In [2]:
import pandas

`pandas` gives us two fundamental data structures: the `Series` and the `DataFrame`.

### Series

A `Series` is a sequence of values.  It is similar to a Python list in that you can access its elements by numerical index (using the `.iloc` accessor, as in `my_series.iloc[1]`), but it also allows labelled access somewhat like a Python dictionary (using the `.loc` accessor, as in `my_series.loc['blah']`).

You can create a Series from a list easily:

In [3]:
my_series = pandas.Series([8, -8, 8.8, 8.88])
my_series

0    8.00
1   -8.00
2    8.80
3    8.88
dtype: float64

A Series can be iterated over similar to a list:

In [4]:
for item in my_series:
    print(item)

8.0
-8.0
8.8
8.88

The labels for a Series are called its `index`.  In that example we didn't provide any index, but we can do so with the `index` parameter:

In [6]:
my_series = pandas.Series(['Sacramento', 'Salem', 'Olympia', 'Carson City'], index=['California', 'Oregon', 'Washington', 'Nevada'])
my_series

California     Sacramento
Oregon              Salem
Washington        Olympia
Nevada        Carson City
dtype: object

The index is like a set of labels that can be used to access individual elements from the series:

In [7]:
my_series.loc['California']

'Sacramento'

We can also access elements using the positional index if we need to:

In [5]:
my_series.iloc[2]

'Olympia'

And we can select ranges that way:

In [6]:
my_series.iloc[1:3]

Oregon          Salem
Washington    Olympia
dtype: object

(Note that indexes start from 0, just like with regular Python lists, and, as with Python lists, the ending index is not included, so `iloc[1:3]` means 1 to 3, including 1 but not including 3.)

In most cases, using label-based indexing is more convenient.  It is also often safer, since positional indexes can change if we transform the data, for instance by sorting.  But sometimes numerical indexing is useful to peek at random parts of the data without needing to know what the labels are.

You can sort a series by its index:

In [7]:
my_series.sort_index()

California     Sacramento
Nevada        Carson City
Oregon              Salem
Washington        Olympia
dtype: object

. . . or by its values:

In [8]:
my_series.sort_values()

Nevada        Carson City
Washington        Olympia
California     Sacramento
Oregon              Salem
dtype: object

By default the sort is in ascending order (alphabetical order for strings, as we have here).  We can get the opposite order easily enough:

In [9]:
my_series.sort_values(ascending=False)

Oregon              Salem
California     Sacramento
Washington        Olympia
Nevada        Carson City
dtype: object

Note that these operations do not modify the original Series.  If we look at it, it will still be in its original order:

In [10]:
my_series

California     Sacramento
Oregon              Salem
Washington        Olympia
Nevada        Carson City
dtype: object

We can make the sorting happen "in place" by passing the shockingly named `inplace` parameter:

In [11]:
my_series.sort_values(inplace=True)
my_series

Nevada        Carson City
Washington        Olympia
California     Sacramento
Oregon              Salem
dtype: object

Notice that after sorting, positional indexes will change (try doing `my_series.iloc[2]` again and compare to the result above) but pandas keeps the labels consistently attached to their values (compare `my_series.loc['California']`).

A useful method on Series is `.map()`, which lets us give a function that will be applied to each element in the Series.  As an example, let's make a function that counts how many lowercase *a*s are in the city name:

In [12]:
def count_a(name):
    return name.count('a')

We apply it using `.map()`:

In [13]:
my_series.map(count_a)

Nevada        1
Washington    1
California    2
Oregon        1
dtype: int64

Note that the result is again a Series.

We can apply any function we want.  However, we don't need to write functions for doing simple stuff like mathematical operations.  We can just do the operations directly on the Series and they'll apply to each element:

In [14]:
my_series.map(count_a) + 3

Nevada        4
Washington    4
California    5
Oregon        4
dtype: int64

We can do the same with conditional expressions, to get a Series of True and False values telling us where the condition is true or false:

In [15]:
my_series == "Sacramento"

Nevada        False
Washington    False
California     True
Oregon        False
dtype: bool

In fact, we didn't need to even write the function we just wrote, since string methods are also available under the `.str` accessor.  So we could just do this:

In [16]:
my_series.str.count('a')

Nevada        1
Washington    1
California    2
Oregon        1
dtype: int64

### DataFrame

A DataFrame is basically a table where each column is a Series.  DataFrames are a powerful tool for manipulating all kinds of tabular data.

You can create one in various ways.  One way is to pass a dictionary of columns, where each key is a column name and each value is list of values for that column:

In [17]:
my_df = pandas.DataFrame({"State": ["California", "Oregon", "Washington", "Nevada"], "Capital": ["Sacramento", "Salem", "Olympia", "Carson City"]})
my_df

        State      Capital
0  California   Sacramento
1      Oregon        Salem
2  Washington      Olympia
3      Nevada  Carson City

Notice how the notebook gives us a nice tabular display of the DataFrame.  (Again, we could pass an index if we wanted to.)

Another way to create a DataFrame is to use the `from_records` classmethod and pass a list of rows, where each row is a dictionary that has the column names as keys and the values as the values.

In [18]:
my_df = pandas.DataFrame.from_records([
    {"State": "California", "Capital": "Sacramento"},
    {"State": "Oregon", "Capital": "Salem"},
    {"State": "Washington", "Capital": "Olympia"},
    {"State": "Nevada", "Capital": "Carson City"},
])
my_df

       Capital       State
0   Sacramento  California
1        Salem      Oregon
2      Olympia  Washington
3  Carson City      Nevada

In some cases, you will instead be loading your DataFrame from a file.  We'll practice using the file `language_speakers.csv`, which contains a table cribbed from Wikipedia, showing some (slightly dubious) estimates of the number of speakers of each of about 30 languages.  We can read the data in like this.

In [9]:
langs = pandas.read_csv("language_speakers.csv")
langs

,Rank,Language,Family,Branch,L1 speakers,L1 Rank,L2 speakers,L2 Rank,Total
0,1,English,Indo-European,Germanic,378200000,3,743500000.0,1.0,1121000000
1,2,Mandarin Chinese,Sino-Tibetan,Sinitic,908700000,1,198400000.0,5.0,1107000000
2,3,Hindi,Indo-European,Indo-Aryan,260000000,4,274200000.0,2.0,534200000
3,4,Spanish,Indo-European,Romance,442300000,2,70600000.0,9.0,512900000
4,5,Modern Standard Arabic,Afro-Asiatic,Semitic,0,5,315000000.0,6.0,315000000
5,6,French,Indo-European,Romance,76700000,16,208100000.0,3.0,284900000
6,7,Malay,Austronesian,Malayo-Polynesian,77000000,15,204000000.0,4.0,281000000
7,8,Russian,Indo-European,Balto-Slavic,153900000,8,110400000.0,7.0,264300000
8,9,Bengali,Indo-European,Indo-Aryan,242600000,6,19200000.0,14.0,261800000
9,10,Portuguese,Indo-European,Romance,222700000,7,13800000.0,15.0,236500000
10,11,Urdu,Indo-European,Indo-Aryan,69200000,4,94100000.0,2.0,163200000
11,12,German,Indo-European,Germanic,76000000,17,56000000.0,10.0,132000000
12,13,Japanese,Japonic,NaN,128200000,9,131000.0,23.0,128300000
13,14,Western Punjabi,Indo-European,Indo-Aryan,119000000,10,NaN,NaN,119000000
14,15,Persian,Indo-European,Iranian,60000000,24,50000000.0,11.0,110000000
15,16,Swahili,Niger–Congo,Bantu,16000000,28,82300000.0,8.0,98300000
16,17,Javanese,Austronesian,Malayo-Polynesian,84300000,11,NaN,NaN,84300000
17,18,Wu Chinese,Sino-Tibetan,Sinitic,80700000,12,63000.0,24.0,80700000
18,19,Telugu,Dravidian,South-Central,74700000,18,5000000.0,17.0,79700000
19,20,Turkish,Turkic,Oghuz,78500000,13,380000.0,22.0,78900000
20,21,Korean,Koreanic,NaN,77200000,14,NaN,NaN,77200000
21,22,Marathi,Indo-European,Indo-Aryan,71700000,20,3000000.0,18.0,74700000
22,23,Tamil,Dravidian,South,66600000,22,8000000.0,16.0,74600000
23,24,Yue Chinese,Sino-Tibetan,Sinitic,73300000,19,402000.0,20.0,73700000
24,25,Vietnamese,Austroasiatic,Vietic,67900000,21,NaN,NaN,67900000
25,26,Italian,Indo-European,Romance,64800000,23,3000000.0,19.0,67800000
26,27,Hausa,Afro-Asiatic,Chadic,43600000,26,19500000.0,13.0,63100000
27,28,Thai,Kra–Dai,Zhuang–Tai,20500000,27,40000000.0,12.0,60500000
28,29,Southern Min,Sino-Tibetan,Sinitic,49700000,25,387000.0,21.0,50100000

Whoa!  That's kind of long.  We can use the `.head()` method to look at only the first few rows of the DataFrame:

In [10]:
langs.head()

,Rank,Language,Family,Branch,L1 speakers,L1 Rank,L2 speakers,L2 Rank,Total
0,1,English,Indo-European,Germanic,378200000,3,743500000.0,1.0,1121000000
1,2,Mandarin Chinese,Sino-Tibetan,Sinitic,908700000,1,198400000.0,5.0,1107000000
2,3,Hindi,Indo-European,Indo-Aryan,260000000,4,274200000.0,2.0,534200000
3,4,Spanish,Indo-European,Romance,442300000,2,70600000.0,9.0,512900000
4,5,Modern Standard Arabic,Afro-Asiatic,Semitic,0,5,315000000.0,6.0,315000000

That's a bit more manageable.  By default it shows us the first 5 rows, but we can do `.head(10)` to see the first 10 rows, `.head(20)` to see 20, etc.

Notice that column of numbers on the far left.  That's the index again.  We can use `.loc` on the index just like we could for a Series:

In [11]:
langs.loc[2]

Rank                       3
Language               Hindi
Family         Indo-European
Branch            Indo-Aryan
L1 speakers        260000000
L1 Rank                    4
L2 speakers        2.742e+08
L2 Rank                    2
Total              534200000
Name: 2, dtype: object

Notice that this result is itself a Series; each column of a DataFrame is a Series, and each row is also a Series.

We can also use `.iloc` as we did before.  In this case, that will be the same, since the index is just numbers in order starting from zero, which is how `.iloc` measures them:

In [22]:
langs.iloc[2]

Rank                       3
Language               Hindi
Family         Indo-European
Branch            Indo-Aryan
L1 speakers        260000000
L1 Rank                    4
L2 speakers        2.742e+08
L2 Rank                    2
Total              534200000
Name: 2, dtype: object

The thing about a DataFrame, though, is it's two-dimensional.  That means we can now not only access things along the index, but also along the columns.  We can use row and column indices together, in that order.  For instance, we can get rows 3-6 in columns 2-5 like this:

In [23]:
langs.iloc[3:6, 2:5]

          Family   Branch  L1 speakers
3  Indo-European  Romance    442300000
4   Afro-Asiatic  Semitic            0
5  Indo-European  Romance     76700000

If we want to specify a column index without a row index, we can use a plain `:` for the row index, which means "everything".  So we can get columns 2-5 like this:

In [24]:
langs.iloc[:, 2:5]

           Family             Branch  L1 speakers
0   Indo-European           Germanic    378200000
1    Sino-Tibetan            Sinitic    908700000
2   Indo-European         Indo-Aryan    260000000
3   Indo-European            Romance    442300000
4    Afro-Asiatic            Semitic            0
5   Indo-European            Romance     76700000
6    Austronesian  Malayo-Polynesian     77000000
7   Indo-European       Balto-Slavic    153900000
8   Indo-European         Indo-Aryan    242600000
9   Indo-European            Romance    222700000
10  Indo-European         Indo-Aryan     69200000
11  Indo-European           Germanic     76000000
12        Japonic                NaN    128200000
13  Indo-European         Indo-Aryan    119000000
14  Indo-European            Iranian     60000000
15    Niger–Congo              Bantu     16000000
16   Austronesian  Malayo-Polynesian     84300000
17   Sino-Tibetan            Sinitic     80700000
18      Dravidian      South-Central     74700000
19         Turkic              Oghuz     78500000
20       Koreanic                NaN     77200000
21  Indo-European         Indo-Aryan     71700000
22      Dravidian              South     66600000
23   Sino-Tibetan            Sinitic     73300000
24  Austroasiatic             Vietic     67900000
25  Indo-European            Romance     64800000
26   Afro-Asiatic             Chadic     43600000
27        Kra–Dai         Zhuang–Tai     20500000
28   Sino-Tibetan            Sinitic     49700000

A handy shortcut is that columns can be accessed by using `[]` indexing directly on the DataFrame, without any `.loc` or `.iloc`.  So if we just want the Language column we can do this (I'll use `.head()` again to shorten it):

In [25]:
langs['Language'].head()

0                   English
1          Mandarin Chinese
2                     Hindi
3                   Spanish
4    Modern Standard Arabic
Name: Language, dtype: object

We can also get multiple columns this way, by putting in a list of the columns we want:

In [26]:
langs[["Language", "Family", "Branch"]].head()

                 Language         Family      Branch
0                 English  Indo-European    Germanic
1        Mandarin Chinese   Sino-Tibetan     Sinitic
2                   Hindi  Indo-European  Indo-Aryan
3                 Spanish  Indo-European     Romance
4  Modern Standard Arabic   Afro-Asiatic     Semitic

If we just want one column, there is an even handier shortcut, which is to just access the column name as an attribute, with a dot:

In [27]:
langs.Language.head()

0                   English
1          Mandarin Chinese
2                     Hindi
3                   Spanish
4    Modern Standard Arabic
Name: Language, dtype: object

Of course, that only works if the name works as a Python attribute (meaning no spaces, symbols, or any of that).  So it's good to know both ways.

Another hugely useful way to slice into these tables is to use conditional indexing.  Suppose we want all the languages whose family is Sino-Tibetan:

In [28]:
langs[langs.Family=="Sino-Tibetan"]

,Rank,Language,Family,Branch,L1 speakers,L1 Rank,L2 speakers,L2 Rank,Total
1,2,Mandarin Chinese,Sino-Tibetan,Sinitic,908700000,1,198400000.0,5.0,1107000000
17,18,Wu Chinese,Sino-Tibetan,Sinitic,80700000,12,63000.0,24.0,80700000
23,24,Yue Chinese,Sino-Tibetan,Sinitic,73300000,19,402000.0,20.0,73700000
28,29,Southern Min,Sino-Tibetan,Sinitic,49700000,25,387000.0,21.0,50100000

Or suppose we want all Indo-European languages in the top ten:

In [29]:
langs[(langs.Family=='Indo-European') & (langs.Rank<=10)]

,Rank,Language,Family,Branch,L1 speakers,L1 Rank,L2 speakers,L2 Rank,Total
0,1,English,Indo-European,Germanic,378200000,3,743500000.0,1.0,1121000000
2,3,Hindi,Indo-European,Indo-Aryan,260000000,4,274200000.0,2.0,534200000
3,4,Spanish,Indo-European,Romance,442300000,2,70600000.0,9.0,512900000
5,6,French,Indo-European,Romance,76700000,16,208100000.0,3.0,284900000
7,8,Russian,Indo-European,Balto-Slavic,153900000,8,110400000.0,7.0,264300000
8,9,Bengali,Indo-European,Indo-Aryan,242600000,6,19200000.0,14.0,261800000
9,10,Portuguese,Indo-European,Romance,222700000,7,13800000.0,15.0,236500000

(Note that you *must* use parentheses to separate the conditions there, for somewhat annoying reasons we won't get into.  If you try it without, you'll get an error.)

These pandas objects have many useful methods.  We can use the `.describe()` method on a DataFrame to get a summary of the numerical columns:

In [30]:
langs.describe()

,Rank,L1 speakers,L1 Rank,L2 speakers,L2 Rank,Total
count,29.000000,2.900000e+01,29.000000,2.500000e+01,25.000000,2.900000e+01
mean,15.000000,1.408276e+08,14.137931,1.007785e+08,12.080000,2.276759e+08
std,8.514693,1.798507e+08,8.309737,1.631286e+08,7.233717,2.768115e+08
min,1.000000,0.000000e+00,1.000000,6.300000e+04,1.000000,5.010000e+07
25%,8.000000,6.660000e+07,7.000000,3.000000e+06,6.000000,7.470000e+07
50%,15.000000,7.670000e+07,14.000000,4.000000e+07,12.000000,1.100000e+08
75%,22.000000,1.282000e+08,21.000000,1.104000e+08,18.000000,2.643000e+08
max,29.000000,9.087000e+08,28.000000,7.435000e+08,24.000000,1.121000e+09

That shows us basic statistics about each column, like the mean, standard deviation, quartiles, and so on.  Notice it does this even when it might not make any sense; the "standard deviation" of the Rank isn't meaningful, but it shows us anyway.  You can also use `.describe()` on a Series, although I'll spare you an example.

We can sort a DataFrame using `.sort_index` like we can with a Series.  If we want to sort by the values, we have to specify which column to sort by:

In [31]:
langs.sort_values('Family').head()

,Rank,Language,Family,Branch,L1 speakers,L1 Rank,L2 speakers,L2 Rank,Total
26,27,Hausa,Afro-Asiatic,Chadic,43600000,26,19500000.0,13.0,63100000
4,5,Modern Standard Arabic,Afro-Asiatic,Semitic,0,5,315000000.0,6.0,315000000
24,25,Vietnamese,Austroasiatic,Vietic,67900000,21,NaN,NaN,67900000
6,7,Malay,Austronesian,Malayo-Polynesian,77000000,15,204000000.0,4.0,281000000
16,17,Javanese,Austronesian,Malayo-Polynesian,84300000,11,NaN,NaN,84300000

Notice it sorted the Family column in alphabetical order.  If we want to sort in reverse order we can do that too:

In [32]:
langs.sort_values('Family', ascending=False).head()

,Rank,Language,Family,Branch,L1 speakers,L1 Rank,L2 speakers,L2 Rank,Total
19,20,Turkish,Turkic,Oghuz,78500000,13,380000.0,22.0,78900000
28,29,Southern Min,Sino-Tibetan,Sinitic,49700000,25,387000.0,21.0,50100000
23,24,Yue Chinese,Sino-Tibetan,Sinitic,73300000,19,402000.0,20.0,73700000
17,18,Wu Chinese,Sino-Tibetan,Sinitic,80700000,12,63000.0,24.0,80700000
1,2,Mandarin Chinese,Sino-Tibetan,Sinitic,908700000,1,198400000.0,5.0,1107000000

One of the most useful things about Pandas is that you can do operations on whole columns as if they were single values.  The operation just gets applied to every value in the column.  So suppose we want to find the number of first-language speakers minus the number of second-language speakers:

In [33]:
langs['L1 speakers'] - langs['L2 speakers']

0    -365300000.0
1     710300000.0
2     -14200000.0
3     371700000.0
4    -315000000.0
5    -131400000.0
6    -127000000.0
7      43500000.0
8     223400000.0
9     208900000.0
10    -24900000.0
11     20000000.0
12    128069000.0
13            NaN
14     10000000.0
15    -66300000.0
16            NaN
17     80637000.0
18     69700000.0
19     78120000.0
20            NaN
21     68700000.0
22     58600000.0
23     72898000.0
24            NaN
25     61800000.0
26     24100000.0
27    -19500000.0
28     49313000.0
dtype: float64

We can also do such operations on strings.  So suppose we want to smush the Family and Branch together into one:

In [34]:
langs.Family + "/" + langs.Branch

0             Indo-European/Germanic
1               Sino-Tibetan/Sinitic
2           Indo-European/Indo-Aryan
3              Indo-European/Romance
4               Afro-Asiatic/Semitic
5              Indo-European/Romance
6     Austronesian/Malayo-Polynesian
7         Indo-European/Balto-Slavic
8           Indo-European/Indo-Aryan
9              Indo-European/Romance
10          Indo-European/Indo-Aryan
11            Indo-European/Germanic
12                               NaN
13          Indo-European/Indo-Aryan
14             Indo-European/Iranian
15                 Niger–Congo/Bantu
16    Austronesian/Malayo-Polynesian
17              Sino-Tibetan/Sinitic
18           Dravidian/South-Central
19                      Turkic/Oghuz
20                               NaN
21          Indo-European/Indo-Aryan
22                   Dravidian/South
23              Sino-Tibetan/Sinitic
24              Austroasiatic/Vietic
25             Indo-European/Romance
26               Afro-Asiatic/Chadic
27                Kra–Dai/Zhuang–Tai
28              Sino-Tibetan/Sinitic
dtype: object

Notice we got NaN in some cases.  `NaN` is just a value that pandas uses to mean "this value is missing".  If you do any operation on `NaN` (like adding something to it) you get `NaN` again.

We can add a new column to our DataFrame by using syntax similar to that for accessing an existing column.  Suppose we want to make a new column "FamilyBranch" that combines Family and Branch as shown above:

In [35]:
langs['FamilyBranch'] = langs.Family + "/" + langs.Branch
langs.head()

,Rank,Language,Family,Branch,L1 speakers,L1 Rank,L2 speakers,L2 Rank,Total,FamilyBranch
0,1,English,Indo-European,Germanic,378200000,3,743500000.0,1.0,1121000000,Indo-European/Germanic
1,2,Mandarin Chinese,Sino-Tibetan,Sinitic,908700000,1,198400000.0,5.0,1107000000,Sino-Tibetan/Sinitic
2,3,Hindi,Indo-European,Indo-Aryan,260000000,4,274200000.0,2.0,534200000,Indo-European/Indo-Aryan
3,4,Spanish,Indo-European,Romance,442300000,2,70600000.0,9.0,512900000,Indo-European/Romance
4,5,Modern Standard Arabic,Afro-Asiatic,Semitic,0,5,315000000.0,6.0,315000000,Afro-Asiatic/Semitic

All well and good.  But the real power of pandas comes when you start to use its grouping and aggregating abilities, which allow it to function sort of like a spreadsheet on steroids.

Suppose we want to know how many languages in our table fall into each of the various families.  We can use `.groupby` to group on the Family column, then use the `size` method to get the size of each group:

In [36]:
langs.groupby('Family').size()

Family
Afro-Asiatic      2
Austroasiatic     1
Austronesian      2
Dravidian         2
Indo-European    13
Japonic           1
Koreanic          1
Kra–Dai           1
Niger–Congo       1
Sino-Tibetan      4
Turkic            1
dtype: int64

Calling `groupby` creates a group for each value, and then calling methods on that grouped object calculates something for each group.  In this case, we calculated the size, but we can also calculate something that depends on the other columns, for instance, the total population:

In [37]:
langs.groupby('Family').Total.sum()

Family
Afro-Asiatic      378100000
Austroasiatic      67900000
Austronesian      365300000
Dravidian         154300000
Indo-European    3882300000
Japonic           128300000
Koreanic           77200000
Kra–Dai            60500000
Niger–Congo        98300000
Sino-Tibetan     1311500000
Turkic             78900000
Name: Total, dtype: int64

That means "group by `Family`, then for each `Family`, take the `Total` column and `sum` it".

We could also use the `[]` notation if we needed to access a column that has a space in its name or something:

In [38]:
langs.groupby('Family')['L1 speakers'].sum()

Family
Afro-Asiatic       43600000
Austroasiatic      67900000
Austronesian      161300000
Dravidian         141300000
Indo-European    2237100000
Japonic           128200000
Koreanic           77200000
Kra–Dai            20500000
Niger–Congo        16000000
Sino-Tibetan     1112400000
Turkic             78500000
Name: L1 speakers, dtype: int64

Notice that the result of each of these is a Series.  We could store that value in a variable and use it later if we wanted to look up these population values for some other purpose, using the methods we discussed above:

In [39]:
family_pops = langs.groupby('Family').Total.sum()
# later
family_pops.loc['Dravidian']

154300000

We can even apply our own custom functions to each group.  Suppose we want to categorize families as "big" (having more than a billion speakers according to this data), or "small" (having less than a billion speakers).  We can write a function to do that.  Our function will accept one argument, which will be a DataFrame containing the rows in a particular group:

In [40]:
def is_it_big(tbl):
    if tbl.Total.sum() >= 1000000000:
        return "big"
    else:
        return "small"

Now we can use `.apply` on the groupby to apply our function:

In [41]:
langs.groupby('Family').apply(is_it_big)

Family
Afro-Asiatic     small
Austroasiatic    small
Austronesian     small
Dravidian        small
Indo-European      big
Japonic          small
Koreanic         small
Kra–Dai          small
Niger–Congo      small
Sino-Tibetan       big
Turkic           small
dtype: object

We can also group on more than one column.  Suppose we want to group by Family and Branch:

In [42]:
langs.groupby(['Family', 'Branch']).Total.sum()

Family         Branch
Afro-Asiatic   Chadic                 63100000
               Semitic               315000000
Austroasiatic  Vietic                 67900000
Austronesian   Malayo-Polynesian     365300000
Dravidian      South                  74600000
               South-Central          79700000
Indo-European  Balto-Slavic          264300000
               Germanic             1253000000
               Indo-Aryan           1152900000
               Iranian               110000000
               Romance              1102100000
Kra–Dai        Zhuang–Tai             60500000
Niger–Congo    Bantu                  98300000
Sino-Tibetan   Sinitic              1311500000
Turkic         Oghuz                  78900000
Name: Total, dtype: int64

Notice that our result is still a series, but now the index (those labels on the left) consists of multiple columns.  This is called a MultiIndex.  We can use `.loc` to access its values similar to how we did with one value, but just putting more than one value into the brackets.  Let's stash our family-branch totals in a variable:

In [43]:
fb_pops = langs.groupby(['Family', 'Branch']).Total.sum()

Now we can get individual values out using `.loc`:

In [44]:
fb_pops.loc['Afro-Asiatic', 'Chadic']

63100000

This *just might* be useful to you when doing the task you're about to do.  Hint, hint.

One other thing that you'll need to do the task below is the `.sample` method.  This method chooses randomly among the rows of a DataFrame, or (if you call it on a Series) the values of a Series.  Suppose we want to choose one of these languages randomly:

In [45]:
langs.Language.sample()

18    Telugu
Name: Language, dtype: object

It might not look like it, but that result is a Series.  It happens to be a Series that only has one item, but it gives itself away with that stuff at the bottom about "Name" and "dtype" that we've seen before.  If we wanted to get the language name itself, as a string, we could use `.iloc` to get the first (and only) value in the series:

In [46]:
langs.Language.sample().iloc[0]

'Yue Chinese'

You probably got a different value that time than you did in the first `sample` call, because every time we call `sample`, it makes a new random choice.

When we use `.iloc` we just get the value.  Sometimes we might want the index (or "name") instead.  For instance, suppose we grab a random value from our `fb_pops` Series above.  I'll store it in a variable so it won't keep changing as we do a few things with it:

In [47]:
random_pop = fb_pops.sample()
random_pop

Family         Branch
Indo-European  Romance    1102100000
Name: Total, dtype: int64

If we use `.iloc` we just get the number:

In [48]:
fb_pops.sample().iloc[0]

79700000

That's nice, but sort of meaningless without knowing what language it refers to.  We can get that using the index:

In [49]:
fb_pops.index[0]

('Afro-Asiatic', 'Chadic')

The `.index` attribute gives us access to the index of a Series or DataFrame.  Since this is a MultiIndex, its values are tuples.  The index is somewhat like an extra column of values, except it's a little weird in certain ways we won't get into right now.  Suffice it to say that if you have stuff in the index that you want to get at, you can get it in the way we just showed.  Hint, hint.

`sample` gave us a one-item Series because by default it returns just one value.  We could choose a different number if we want, by passing our desired sample size:

In [50]:
langs.Language.sample(5)

26               Hausa
1     Mandarin Chinese
13     Western Punjabi
23         Yue Chinese
25             Italian
Name: Language, dtype: object

By default, `sample` samples "without replacement", which is like drawing from a deck of cards: if we had a deck with one card for each language, and we drew Telugu from the deck, then we've removed it, and we can't draw it again because it's not in the deck anymore.  (We could draw it again if we reshuffle the whole deck, which is like making new, separate call to `sample`.)

If we want, we can sample "with replacement", which is more like rolling a die or spinning a spinner.  Suppose we had a spinner with one wedge for each language, and we spun it.  If we spin Telugu, there's nothing stopping us from spinning again and getting Telugu again.  To do that, we just tell `sample` to do replacement:

In [51]:
langs.Language.sample(5, replace=True)

3         Spanish
16       Javanese
23    Yue Chinese
2           Hindi
19        Turkish
Name: Language, dtype: object

If you run that cell a few times, you should see some cases where the same language appears more than once, verifying that replacement is indeed happening.

There's one more nifty feature of `sample`, which is that we can pass it a list of "weights".  If we do, it will choose among the values, not equally, but according to the weights, so that values with higher weights are chosen more often.  For instance, suppose we want to choose a language, but with a weighted choice, where we're more likely to choose a languages that have more speakers.  We can do this:

In [52]:
langs.Language.sample(10, replace=True, weights=langs.Total)

0              English
2                Hindi
1     Mandarin Chinese
0              English
11              German
19             Turkish
12            Japanese
0              English
0              English
1     Mandarin Chinese
Name: Language, dtype: object

If you run that a few times, you should find that you get a higher than average amount English and Mandarin and Hindi and Spanish and somewhat less of Thai and Italian and so on.  It's sort of like choosing a *person* at random from the world and asking what language they speak; if you were able to choose a random person from the world, you'd be more likely to get one who speaks Mandarin than Italian, because there are just a lot more people who speak Mandarin than Italian.

(It's important to note, though, that this is only *sort of* like choosing a person at random, for at least two important reasons: First, although the languages in this table cover a large part of the world's population, they don't cover it all; there are millions of people who speak, for instance, Zulu, but you won't get them with our process because they're not in our table.  It's important to remember that in computational linguistics we're always limited by the data we're using.  Second, of course, many people in the world speak more than one language.  This means that if we choose a random person, they might speak more than one language, and it also means that the population totals in our table probably overlap: there are a considerable number of people who speak both English and Spanish, for example.  And that's leaving aside the issue of whether this table is accurate or not, which, as noted in [the Wikipedia article where it came from](https://en.wikipedia.org/wiki/List_of_languages_by_total_number_of_speakers), it probably isn't.)

**Exercises:**

Now your turn.  Here are a couple simple warm-up tasks to practice working with pandas.  We'll keep using the `langs` DataFrame from above.

Select the rows that have Afro-Asiatic languages.

In [12]:
langs[langs.Family == 'Afro-Asiatic']

,Rank,Language,Family,Branch,L1 speakers,L1 Rank,L2 speakers,L2 Rank,Total
4,5,Modern Standard Arabic,Afro-Asiatic,Semitic,0,5,315000000.0,6.0,315000000
26,27,Hausa,Afro-Asiatic,Chadic,43600000,26,19500000.0,13.0,63100000

Select the "Language", "L1 speakers", "L2 speakers", and "Total" columns of the languages that have between 100 million and 500 million L2 speakers.

In [16]:
columns = ['Language', 'L1 speakers', 'L2 speakers', 'Total']
langs[columns][(langs['L2 speakers'] >= 100000000) & (langs['L2 speakers'] <= 500000000)]

                 Language  L1 speakers  L2 speakers       Total
1        Mandarin Chinese    908700000  198400000.0  1107000000
2                   Hindi    260000000  274200000.0   534200000
4  Modern Standard Arabic            0  315000000.0   315000000
5                  French     76700000  208100000.0   284900000
6                   Malay     77000000  204000000.0   281000000
7                 Russian    153900000  110400000.0   264300000

Compute the number of languages in each branch.

In [19]:
langs.groupby('Branch').count()['Language']

Branch
Balto-Slavic         1
Bantu                1
Chadic               1
Germanic             2
Indo-Aryan           5
Iranian              1
Malayo-Polynesian    2
Oghuz                1
Romance              4
Semitic              1
Sinitic              4
South                1
South-Central        1
Vietic               1
Zhuang–Tai           1
Name: Language, dtype: int64

Compute the total L2 speakers of each family.

In [20]:
langs.groupby('Family').sum()['L2 speakers']

Family
Afro-Asiatic     3.345000e+08
Austroasiatic    0.000000e+00
Austronesian     2.040000e+08
Dravidian        1.300000e+07
Indo-European    1.645900e+09
Japonic          1.310000e+05
Koreanic         0.000000e+00
Kra–Dai          4.000000e+07
Niger–Congo      8.230000e+07
Sino-Tibetan     1.992520e+08
Turkic           3.800000e+05
Name: L2 speakers, dtype: float64

Add a new column called "Length" to the table, containing the length of the name of each language (so "English" will be 7 because it has seven letters).

In [26]:
lang_charCount = langs.Language.apply(lambda x: len(x.replace(' ', '')))

langs['Length'] = lang_charCount
langs['Length']

0      7
1     15
2      5
3      7
4     20
5      6
6      5
7      7
8      7
9     10
10     4
11     6
12     8
13    14
14     7
15     7
16     8
17     9
18     6
19     7
20     6
21     7
22     5
23    10
24    10
25     7
26     5
27     4
28    11
Name: Length, dtype: int64

Compute the average number of speakers of languages with each name length.  (That is, your result should have a row whose index is 7, and the value in that row shoud be the average number of speakers in languages with seven letters in their name.)

In [30]:
langs.groupby('Length').mean()['Total']

Length
4     1.118500e+08
5     2.382250e+08
6     1.434500e+08
7     2.877444e+08
8     1.063000e+08
9     8.070000e+07
10    1.260333e+08
11    5.010000e+07
14    1.190000e+08
15    1.107000e+09
20    3.150000e+08
Name: Total, dtype: float64

Group the table by Family *and* Length and find the size of each group.  Store your result in a variable.  (Don't forget to display it too.)

In [32]:
group_size = langs.groupby(['Family', 'Length']).sum()['Total']

group_size

Family         Length
Afro-Asiatic   5           63100000
               20         315000000
Austroasiatic  10          67900000
Austronesian   5          281000000
               8           84300000
Dravidian      5           74600000
               6           79700000
Indo-European  4          163200000
               5          534200000
               6          416900000
               7         2412500000
               10         236500000
               14         119000000
Japonic        8          128300000
Koreanic       6           77200000
Kra–Dai        4           60500000
Niger–Congo    7           98300000
Sino-Tibetan   9           80700000
               10          73700000
               11          50100000
               15        1107000000
Turkic         7           78900000
Name: Total, dtype: int64

Using the variable you just created, get the value correponding to Indo-European languages with 7 letters in their name.

In [35]:
group_size['Indo-European'][7]

2412500000

Okay, that's a brief introduction to the capabilities of pandas.  We're only scratching the surface of what's possible here.  Half the time when you think of something you want to do, it'll turn out there's a simple shortcut for it with pandas.  But what we've just done is enough for us to build a simple text-generation tool.

## Markov chains

Last week in the "Bil dams" exercise you finished up by creating a list of n-grams in this format:

```
[
    {"Size": 1, "Gram": ('A',), "Word": "house"},
    {"Size": 1, "Gram": ('house',), "Word": "is"},
    {"Size": 1, "Gram": ('is',), "Word": "a"},
]
```

(At least I hope you did, because that's going to be our starting point today.)

Today we'll do something similar using a more interesting dataset: a collection of quotes.  The file `quotes.csv` contains our data in CSV format.  Unlike before, it is not just one long string, but is in tabular format.

Note: Some of the results in this assignment will be long.  Use `.head()` if necessary when displaying your result at the end to show only the first few rows, or use something like `[:5]` to show only the first few items of a list.

Note 2: You must do this assignment using `pandas`.  Part of the assignment is learning to use pandas.  You will not receive credit if you turn in a Markov chain generator that is not built with pandas data structures, even if it is functional.

**Exercises:**

First, read in the file using `pandas.read_csv` and store it in a variable.

In [36]:
import pandas as pd

quotes = pd.read_csv('quotes.csv')

As you can see, there are three columns: `Quote` contains the quote. `Author` contains the author.  `Topic` contains some label for what the quote is about.

There are a lot of quotes in this dataset (more than 75,000).  Let's restrict ourselves to just the quotes about hope.  Make a new variable containing only the rows from our DataFrame whose `Topic` is `"hope"`.

In [38]:
hope = quotes[quotes.Topic == 'hope']

You can now work basically with only the `Quote` column of this table, since we don't need the author.

Working with that column, build up a list of dictionaries in the format you did for Bil Dams (as shown above).  It should include ngram sizes from 1 up to 4 (so `Size` will range from 0 to 3).  (Remember that `Size` is the size of the `Gram`, which is one less than the ngram size we're using, because we're chopping off the last word and separating it as `Word` in our dict.)  You can re-use your code from before, but you will have to modify it slightly, perhaps running it in a loop, because our data now consists of many small "documents" (the individual quotes) instead of one big one.

In [40]:
import nltk

gram_list = []

for quote in hope:
    
    tokenizer = nltk.tokenize.TweetTokenizer()
    toks = tokenizer.tokenize(quote)
    
    for word1, word2 in nltk.ngrams(toks, bigram_number):
        dic_item = {"Size": bigram_number-1, "Gram": (word1,), "Word": word2}
        
    # Unigram
    for word in nltk.ngrams(toks, unigram_number):
        dic_item = {"Size": unigram_number-1, "Gram": (), "Word": word[0]}
        gram_list.append(dic_item)

    # Bigram
    for word1, word2 in nltk.ngrams(toks, bigram_number):
        dic_item = {"Size": bigram_number-1, "Gram": (word1,), "Word": word2}
        gram_list.append(dic_item)

    # Trigram 
    for word1, word2, word3 in nltk.ngrams(toks, trigram_number):
        dic_item = {"Size": trigram_number-1, "Gram": (word1, word2,), "Word": word3}
        gram_list.append(dic_item)
    
    # Quadgram 
    for word1, word2, word3, word4 in nltk.ngrams(toks, quadgram_number):
        dic_item = {"Size": quadgram_number-1, "Gram": (word1, word2, word3), "Word": word4}
        gram_list.append(dic_item)

NameError: name 'doc' is not defined

Now use `pandas.DataFrame.from_records` to convert this into a DataFrame.

In [39]:
hope_gram = pd.DataFrame.from_records(gram_list)

NameError: name 'gram_list' is not defined

Now sort your DataFrame in-place by Size, Gram and Word.

Now use `.groupby` to group this DataFrame by all three columns and find the size of each group.

The data structure we've just created allows us to see all the possibilities for which words could occur in a given context in our source text, and how many times each one occurred.  Use it to find out all the words that could come after the two-word sequence "hope for".

Now use it to find all the words that could come after the word "human".  (Be careful!  Certain elements in your data structure are tuples, and you will have to use a one-element tuple since we are only looking for one word.)

Now let's think about this a minute.  If we do what you did above, we can find all the words that come after "human".  Suppose we choose one of them randomly.  Then we could find all the words that come after *that* word, and choose one of *them* randomly.  And then we could find all the words that come after *that* one, and choose one of *them* randomly.  And since we have the frequencies, we won't actually be choosing "totally randomly"; instead, we can use `.sample` to weight our choice so that we choose more common follow-up words more frequently.  By continuing this process, we can generate a new text that mimics some aspect of the sequential structure of the original text.

We only need two things: One is a starting word (like "human" here) to kick-start the process.  The other is some way to know when to stop.  One easy way to do that is to keep going until the "next word" that we choose is a period, which will mean we'll generate a full sentence (or some approximation of one).

So let's do it.  Write a loop that starts with some "seed word" (maybe "the"?).  Your loop should use the current word to look up what words might come next, use `.sample` to choose one of them, and repeat the process with that new word as the new seed word.  As you go, build up a list of the words you're choosing, and stop when you get to a period.

(Don't worry if the results you get look somewhat peculiar, in the sense of having spaces or punctuation in odd places.  There are various formatting issues that we're not going to worry about here, largely arising from some of the issues we discussed, where things like punctuation get treated as "words".)

Now try doing the same thing, but instead of using one word to look up the next word, use *two* words to look up the next word.  That is, if we are generating our sentence and so far we have "in the", then instead of just using `("the",)` to look up our next word, we'll use `('in', 'the')`.  This means that instead of keeping track of just one "seed word", you'll have to keep track of two, and "rotate" them so that when you pick a new word, it pushes out one of the two existing seed words and keeps the other one.

You may notice that this latter version occasionally throws an error --- but not every time.  That's one aspect of working with randomized processes: they can sometimes fail, and it's hard to know exactly what caused it, because it was due to some particular combination of random choices you made that may be difficult to reproduce.  Ah well.  We'll talk about that in the questions below.  But first, we'll try a slightly more complex version that should be able to get rid of those errors, if we do it right.

Before that, though, one final exercise: write a version that implements some version of the "backoff" procedure described in [the reading](https://blog.dataiku.com/2016/10/08/machine-learning-markov-chains-generate-clinton-trump-quotes).  That is, your model should use two words to look up the next one, but if there isn't enough variety in the available matches, it should "back off" and try using only one word instead.  If there isn't enough variety even then, it should "back off" even more and use no words!  You'll have to think about what it means to choose a word using zero words of context, but the data you've created should have what you need to do it.  You can choose the backoff threshold (or "size requirement" as it's called in the reading); you may want to experiment with a couple different values.

You should try to make this version run without raising errors.  If you do still wind up with errors, be sure to write some commentary explaining your best guess about why the error is happening and what you tried to do to solve it.  (It's still possible that your Markov generator may produce some strange output, in the sense of having punctuation in odd places and the like, but that's fine.)

Now for some plain old questions:

**Questions:**

1. What possible uses can you think of for Markov chains, other than the ones we already discussed in class?
2. Why do the results of this text generator sometimes look "messy" or not like real sentences?  What could be done to fix this?  (You don't have to actually do it, just give the general idea of what you think would be required.)
3. In those examples we used first one word of "context", then two words.  What if we extended it to three, or four, or five words?  Do you think this would make the results "better" or "worse" (or both!)?  How and why?
4. When you expanded the context from one word to two, did you occasionally get errors if you re-ran your code several times?  Why did this happen?  Did your last version (with "backoff") fix the problem?  How did it do so?
5. In the final exercise, what did it mean to use "no words" of context?  How did you pick which word to use next without using any previous words?
6. Did you have to look up any documentation, StackOverflow questions, or other outside resources to help you finish this assignment?  If so, give an example of one thing you had to look up, and what you found, and how it helped you.

Be sure to submit your notebook file on GauchoSpace for credit!